* {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  background-color: white;
}

[type="date"] {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

label {
  display: block;
}

input[type="date"] {
  border: none;
  border-bottom: 1px solid red;
}

.wrapper {
  margin: 0 auto;
  font: 1.2em Helvetica, arial, sans-serif;
}

.wrapper>* {
  padding: 5px;
}

.wrapper {
  display: grid;
  grid-template-areas: 
  "header"
  "nav"
  "content"
  "sidebar"
  "footer";
}

@media (min-width: 300px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "header  header"
    "content content"
    "sidebar sidebar" 
    "footer  footer";
  }
  
}

@media (min-width: 1200px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header"
    "content content content"
    "content content content"
    "sidebar sidebar sidebar"
    "footer footer footer"
  }

}

@media (min-width: 1600px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
    "header header header"
    "content content content"
    "content content content"
    "sidebar sidebar sidebar"
    "footer footer footer"
  }

}