@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

.content {
  grid-area: content;
}

.searchBox {
  width: 15%;
  color: black;
}

.currencyBox {
  width: 7%;
  color: black;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.searchHeader {
  font-family: Raleway;
  text-align: center;
  font-weight: bold;
}

.resultTable {
  width: 50%;
}

.tableHead {
  background-color:#1F427C;
  opacity: 0.9;
  color: black;
}

.tableBlue {
  background-image: linear-gradient(to right top, #293f71, #233667, #1d2e5d, #162654, #101e4a);  color: black;
}

.textCenter {
  text-align: center;
}
@media (min-width: 300px) {
  .searchHeader {
    font-size: 20px
  }
  .searchBox {
    width: 50%;
  }
  .currencyBox {
    width: 50%;
  }
}



@media (min-width: 400px) {
  .searchHeader {
    font-size: 20px
  }
  .searchBox {
    width: 30%;
  }
  .currencyBox {
    width: 25%;
  }
}

@media (min-width: 1200px) {
  .searchHeader {
    font-size: 30px;
  }
  .searchBox {
    width: 15%;
  }
  .currencyBox {
    width: 8%;
  }
}

@media (min-width: 1600px) {
  .searchHeader {
    font-size: 30px
  }
}