@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

.content {
  grid-area: content;
 /* background: */
}

.searchBox {
  width: 15%;
}

.currencyBox {
  width: 7%;
}

.searchContainer {
  display: flex;
  justify-content: center;
  
}

.searchHeader {
  font-family: Raleway;
  text-align: center;
  font-weight: bold;
}

.resultTable {
  width: 50%;
}

.tableHead {
  background-color: #ffcc00;
  color: black;
}

.tableBlue {
  background-color: #006699;
}

.textCenter {
  text-align: center;
}

@media (min-width: 300px) {
  .searchHeader {
    font-size: 20px
  }
}

@media (min-width: 1200px) {
  
}

@media (min-width: 1600px) {
  .searchHeader {
    font-size: 30px
  }

}