* {
    box-sizing: border-box;
  }
  
  .app {
    background-color: yellow;
  }
  
  .formLayout {}
  
  .inputFields {
    padding: 10px;
    width: 100%;
    justify-content: space-between;
  }
  
  .input1 {
    box-sizing: border-box;
  }
  
  .input2 {}
  
  body {
    padding: 1em;
    background: #e5e5e5;
    font: 13px/1.4 Geneva, 'Lucida Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  }
  
  .label {
    display: block;
    color: white;
  }
  
  .input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 3px 5px;
    box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
    width: 190px;
  }
  
  [type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
  }
  
  [type="date"]::-webkit-inner-spin-button {
    display: none;
  }
  
  [type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  
  label {
    display: block;
  }
  
  input[type="date"] {
    border: none;
    border-bottom: 1px solid red;
  }
  
  .wrapper {
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
  }
  
  .wrapper>* {
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .main-head {
    grid-area: header;
    background: blue;
    font: 1.5em Helvetica, arial, sans-serif;
    color: yellow;
  }
  
  .content {
    grid-area: content;
    background: gray;
  }
  
  .main-nav {
    grid-area: nav;
    background: green;
  }
  
  .side {
    grid-area: sidebar;
    background: teal;
  }
  
  .main-footer {
    grid-area: footer;
    background: pink;
  }
  
  .wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 
    "header"
    "nav"
    "content"
    "sidebar"
    "footer";
  }
  
  @media (min-width: 500px) {
    .wrapper {
      grid-template-columns: 1fr 3fr;
      grid-template-areas: 
      "header  header"
      "nav     nav" 
      "content sidebar" 
      "footer  footer";
    }
    nav ul {
      display: flex;
      justify-content: space-between;
    }
  }
  
  @media (min-width: 700px) {
    .wrapper {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
      "header header header"
      "nav nav nav"
      "content content sidebar"
      "content content sidebar"
      "footer footer footer"
    }
    nav ul {
      flex-direction: column;
    }
  }