@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');
.main-head {
  grid-area: header;
  background-color: #006699;
  text-align: center;
  border-bottom: 5px solid #ffcc00;
  height: 100px;
}

header .highlight, header .current a, .li a {
  color: azure;
  text-decoration: none;
}

header ul {
  background-color: #006699;
  float: right;
  margin: 0;
  padding: 0;
}

.li {
  display: inline;
  color: #ffcc00;
  padding: 0 10px 0 10px;
}

.my-navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding: .5rem 1rem;
  margin-top: 30px;
}

.logo {
  width: 15%;
  float: left;
}

.header-text {
  color: #ffcc00;
  font-family: Raleway;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px 2px 0 rgb(0, 0, 0);
  letter-spacing: 2px;
  float: left;
  margin-left: 50px;
  margin-top: -3px;
}

.my-navbar a:hover {
  color: #ffcc00;
  text-decoration: none;
}

@media (min-width: 300px) and (max-width: 399px) {
  .header-text {
    font-size: 15px;
    margin-top: -15px;
    left: 15px;
  }
  .main-head {
    height: 75px;
    border-bottom: 3px solid #ffcc00;
  }
  .logo {
    width: 17%;
  }
}

@media (min-width: 400px) and (max-width: 699px) {
  .header-text {
    font-size: 17px;
    margin-top: 42px;
    margin-left: 10px;
  }
  .main-head {
    height: 75px;
    border-bottom: 4px solid #ffcc00;
  }
  .logo {
    width: 15%;
  }
}

@media (min-width: 700px) and (max-width: 999px) {
  .header-text {
    font-size: 30px;
    margin-top: 25px;
  }
  .main-head {
    height: 75px;
    border-bottom: 4px solid #ffcc00;
  }
  .logo {
    width: 8%;
  }
}

@media (min-width: 1000px) and (max-width: 1199px) {
  .my-navbar {
    margin-top: 5px;
  }
  .header-text {
    font-size: 45px;
    margin-top: 30px;
  }
  .logo {
    width: 8%;
  }
}

@media (min-width: 1200px) and (max-width: 1599px) {
  .my-navbar {
    margin-top: 59px;
  }
  .header-text {
    font-size: 20px;
    margin-top: 61px;
  }
  .logo {
    width: 6.5%;
  }
  .main-head {
    height: 100px;
  }
}

@media (min-width: 1600px) and (max-width: 1699px) {
  .my-navbar {
    margin-top: 60px;
  }
  .header-text {
    margin-top: 63px;
    font-size: 20px;
  }
  .logo {
    width: 5%;
  }
  .main-head {
    height: 100px;
    border-bottom: 4px solid #ffcc00;
  }
}

@media (min-width: 1700px) {
  .my-navbar {
    margin-top: 60px;
  }
  .header-text {
    margin-top: 63px;
    font-size: 20px;
  }
  .logo {
    width: 4.5%;
  }
  .main-head {
    height: 100px;
    border-bottom: 4px solid #ffcc00;
  }
}