@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Lato');

.main-head {
  grid-area: header;
  background: #006699;
  text-align: center;
  border-bottom: 5px solid #ffcc00;
  height: 100px;
}

header .highlight, header .current a{
  color:#e8491d;
  font-weight:bold;
}

header ul {
  margin: 0;
  padding: 0;
}

.li {
  display: inline;
  color: #ffcc00;
  padding: 0 10px 0 10px;
  
}

.nav{
  float:right;
  color: #ffcc00;
  margin-top: 67px;
  margin-right: 10px;
}

.yellow {
  color: black;
}

.logo {
  width: 7%;
  float: left;
}

.headerText {
  color: #ffcc00;
  font-family: Raleway;
  position: relative;
  font-size: 20px;
  font-weight: 600;
  text-shadow:  2px 2px 0 rgb(0, 0, 0);
  letter-spacing: 2px;
  float: left;
  margin-left: 50px;
  margin-top: -5px;
}


@media (min-width: 300px) {
  .headerText {
    font-size: 20px;
    top: 1.5vh;
  } 
  .underText {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  .headerText {
  font-size: 20px;
  top: 10vh;  
  left: -2vw;
  }
  .logo {
    width: 6.5%;
  }
}

@media (min-width: 1600px) {
  .headerText {
    top: 6vh;
    font-size: 25px;
  }
  .underText {
    font-size: 18px;
  }

}